body {
  font-family: monospace;
  background-color: #ffe5ec;
}
#app {
  background-color: white;
  width: 500px;
  margin: 0 auto;
  border: solid 1px #ccc;
  padding: 20px;
}

.tomato img {
  width: 200px;
  margin: auto;
  display: block;
  border-radius: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tomato {
  position: relative;
}
